!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Analytic Board

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

body
  article
    section.white
      h1 Pruebas A/B que sí identifican verdaderos cambios
      div
        img(src="img/ux-medellin.jpeg")
    section.white
      div
        img(src="img/diana-blandon.jpeg",width="40%")
      h1 Diana Blandón
      h1 UX Designer
      h2 @dibland
    section.white
      h1 Jaime Andrés García
      h2 Decision-Making Designer/Developer
      h2 @analyticboard
    section.white
      h1 A/B Testing Software
      h2
        a(href='https://www.similartech.com/categories/a-b-testing',target='blank') Leading A/B Testing Tools
        a(href='https://www.optimizely.com/',target='blank') Optimizely
        a(href='https://services.google.com/websiteoptimizer',target='blank') Google Web Optimizer
        a(href='https://vwo.com/',target='blank') Visual Web Optimizer
        a(href='http://unbounce.com/',target='blank') Unbounce
        a(href='http://vanity.labnotes.org/',target='blank') Vanity
    section.white
      h1 Knowledge Base A/B Testing
      h1
        a(href='https://whichtestwon.com',target='blank') Which Test Won
    section.white
      h1 Pruebas A/B que que sí identifican verdaderos cambios
      h1
        a(href='https://vwo.com/blog/facebook-login-reduces-sales-ecommerce-store',target='blank') Facebook Login decrease 3% conversion
    section.white
      h1 Calcular el tamaño de la muestra
      h1
        a(href='http://www.evanmiller.org/ab-testing/sample-size.html',target='blank') Evan Miller Sample Size
        a(href='https://vwo.com/ab-split-test-duration/',target='blank') VWO Test Duration
    section.white
      h1 Comparar pruebas de conversión
      h1
        a(href='http://www.evanmiller.org/ab-testing/chi-squared.html',target='blank') Evan Miller Chi Squared
    section.white
      h1 Multi armed bandit testing
      img(src="img/multi-armed-bandit.jpg",width="30%")
      h3 Source: Microsoft Research
    section.white
      h2 Pruebas A/B con Salida en el Mundo Real - Data Bridge
    section.thanks
      .tint
        h1 Muchas gracias


  script(src='bower_components/bespoke.js/dist/bespoke.min.js')
  script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
  script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
  script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
  script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
  script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
  script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
  script(src='bower_components/prism/prism.js')
  script(src='scripts/main.js')

